@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido/a</h1>
    <p>Revisa el repositorio en GitHub para más información <a href="https://github.com/lextrack/GestorMovimientosBodegaSensibleParis" target="_blank"> aquí</a>.</p>

</div>
