@model UsuariosListadoViewModel

@{
    ViewData["Title"] = "Listado de usuarios";
    Layout = "../shared/_layout";
}

<h1>Usuarios registrados</h1>

@if (Model.Mensaje is not null)
{
    <div class="alert alert-success" role="alert">
        @Model.Mensaje
    </div>
}

@if (Model.Usuarios is not null)
{

    <form method="post">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>Acción</td>
                    <td>Email</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var usuario in Model.Usuarios)
                {
                    <tr>
                        <td>
                            <button class="btn btn-primary me-2 bi bi-person-up"
                                    asp-action="HacerAdmin"
                                    asp-route-email="@usuario.Email">
                                Hacer Admin
                            </button>

                            <button class="btn btn-danger me-2 bi bi-person-x"
                                    asp-action="RemoverAdmin"
                                    asp-route-email="@usuario.Email">
                                Quitar Admin
                            </button>
                        </td>
                        <td>
                            @usuario.Email
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </form>

}
else
{
    <p>No hay usuarios disponibles</p>
}
