@model LoginViewModel

<link rel="stylesheet" href="~/MovimientosBodegaSensible.styles.css" asp-append-version="true" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

@{
    ViewData["Ttitle"] = "Inicio de sesión";
}

<h1 style="color: white">Inicio de sesión</h1>

@if (ViewData.Keys.Contains("mensaje"))
{
    <p style="color: red">
        @ViewData["mensaje"]
    </p>
}

<div class="card">
    <div class="card-body">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label text-black"></label>
                <input asp-for="Email" autocomplete="off" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="form-label text-black"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" asp-for="Recuerdame" />
                <label class="form-check-label text-black" asp-for="Recuerdame"></label>
            </div>

            <button class="btn btn-primary bi bi-key-fill"> Iniciar sesión</button>
            <!-- <a class="btn btn-success bi bi-person-fill-add" asp-action="Regsss"> Crear una nueva cuenta</a> -->
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}