@model RegistroViewModel

@{
    ViewData["Ttitle"] = "Registro";
}

<h1 style="color: white">Registro</h1>

<div class="card">
    <div class="card-body">
        <form asp-action="Registro">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label text-black"></label>
                <input asp-for="Email" autocomplete="off" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="form-label text-black"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <button class="btn btn-primary bi bi-person-badge-fill"> Registrate</button>
            <a class="btn btn-warning bi bi-backspace-fill" asp-action="login"> Volver al inicio de sesión</a>

        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}